<nav class="navbar navbar-expand-lg bg-primary" th:fragment="navbar">
    <div class="container-fluid" style="color: white">
        <a style="color: white" class="navbar-brand" th:href="@{/}">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a style="color: white" class="nav-link active" aria-current="page" th:href="@{/}">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a style="color: white" class="nav-link" th:href="@{/management}">Quản lí sản phẩm</a>
                </li>
            </ul>
<!--            <form class="d-flex" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button style="color: white" class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
            <a style="color: white" class="nav-link" th:if="${session.containsKey('userName')}" th:text="${session.userName}" ></a>
            <a style="color: white;margin-left: 10px" class="nav-link" th:href="@{/logout}" th:text="${session.userName} ? 'Đăng xuất'" ></a>
<!--            <a style="color: white" class="nav-link" th:if="${!session.auth} ? 'Đăng nhập'" ></a>-->
        </div>
    </div>
</nav>